

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

header {
    background-color: white;
    justify-content: center;
}

.intro-img {
    width: 100%;
}

.intro {
    position: relative;
    top: -20em;
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-left: 5em;
    border: 1px solid;
    flex-direction: column;
    padding: 2%;
    background-color: rgba(245, 247, 251, 0.85);
    color:rgba(31, 68, 146, 1);
    font-family: Roboto;
}

.intro-btn {
    width: 25%;
    background: rgba(31, 68, 146, 1);
    color: white;
    border-radius: 0.5em;
    outline: none;
    border:none;
    padding: 4px;
    font-size: 0.7rem;
}
.logbtn{
    background-color: #198754;
    width: 100%;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 50px;
    height: 40px;
}

.feature {
    display: flex;
    margin: 0 auto;
    margin-top: -7em;
    flex-direction: row;
    align-items: center;
    font-family: Roboto;
}

.feature-info {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.illustration {
    display: grid;
    margin: 0 auto;
    font-family: Roboto;
}

.illustration-info {
    display: flex;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    margin-bottom: 3em;
}

.illustration-info2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    margin-bottom: 3em;
}

.illustration h2 {
    color: rgba(31, 68, 146, 1);
    ;
}

.stats img {
    width: 100%;
}

.stats p {
    position: relative;
    top: -120px;
    font-size: 1.7rem;
    color: white;
    text-align: center;
}

.testimonial {
    background-color: #E5E5E5;
}

.testimonial-title {
    display: flex;
    margin: 0 auto;
    margin-left: 5em;
    margin-bottom: 3em;
}

.testimonial-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.testimonial-part {
    text-align: center;
}

.testimonial-part p {
    position: relative;
    background: white;
    top: -10em;
    margin: 3em 1.4em 0em 1.4em;
    border-radius: 0 0 60px 60px;
    width: auto;
    height: 115px;
    text-align: center;
    font-size: 1rem;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.sponsor-path {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5em;
    max-width: 80%;
}

.sponsor-path img {
    width: 90px;
    height: 25px;
    margin: 3em;
}

.footer {
    background-color: rgba(31, 68, 146, 0.7);
}

.contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 4em;
    font-weight: 700;  
}

.footer-container {
    margin: 0 auto;
}

.footer-container h4 {
    border-bottom: 1px solid;
}

.footer-item {
    list-style-type: none;
    padding-left: 0;
}

footer img {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.attribution {
    text-align: center;
    font-weight: 700;
}